body {
    background: #ffffff;
    background-image: url(https://i.imgur.com/ji7Fkq8.jpg);
    background-repeat: cover;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    padding: 2em 2em 4em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#container {
  color: whitesmoke;
}

#vidinfo {
    margin: 2em 0;
    width: 640px;
}

#title {
    background-color: rgba(255,255,255,0.2);
    padding: 1em 1em;
    font-size: 1em;
}

#desc {
    background-color: rgba(255,255,255,0.2);
    padding: 1em 1em;
    font-size: 0.7em;
}

#customize {
    background-color: rgba(0,0,0,0.7);
    padding: 1em 1em;
}
